/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Epilogue:400,400i,700,700i');
@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?hn8v1z');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot') format('embedded-opentype'),
    url('fonts/icons.ttf') format('truetype'),
    url('fonts/icons.woff') format('woff'),
    url('fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, strong, img, ul, li, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
section {
	display: block;
}
body {
	line-height: 1em;
}
ol, ul {
	list-style: none;
}

/* General */
html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body {
	font-family: "Epilogue", sans-serif;
	color: #1151fb;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.8em;
	padding: 0;
	background: white;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
a, a:focus {
	text-decoration: none;
	cursor:pointer;
	outline:none;
  box-shadow: 0 5px 0 0px transparent;
  transition: all ease-in-out 0.5s;
}
strong, b {
	font-weight:700;
}
i, em {
	font-style:italic;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link:before {
  content: "\e9cb";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-linkedin:before {
  content: "\eac9";
}
.clear {
	clear:both;
}

/* Masthead */
.masthead {
	margin: 0;
	padding: 4em 2em 3em 2em;
	text-align: center;
  background-color: #fff;
}

/* Contenidos */
.contenidos {
	margin: 0;
	padding: 4em 2em;
	text-align: center;
  background-color: #fff;
	color: #1151fb;
}
.contenidos h3 {
	font-size: 2em;
  line-height: 1.2em;
	font-weight: 700;
  padding-top: 1.2em;
	padding-bottom: 0.7em;
}
.contenidos .texto {
  width: 920px;
  margin: 0 auto;
}
.contenidos .texto p {
  padding-bottom: 1em;
  text-align: left;
  line-height: 1.4em;
}
.contenidos .texto p a {
  color: #1151fb;
  box-shadow: 0 1px 0 0px #1151fb;
}
.contenidos .texto p a:hover {
  box-shadow: 0 5px 0 0px #1151fb;
}
.contenidos .contenidos-boton {
	margin-top: 2em;
  margin-bottom: 3em;
}
.contenidos .contenidos-boton a {
	padding: 0.75em 1.5em;
	color: #1151fb;
	border: 1px solid #1151fb;
	border-radius: 5px;
}
.contenidos .contenidos-boton a:hover {
	border-color: #1151fb;
	background-color: #1151fb;
  color: #1151fb;
}

/* Credits */
.credits {
  margin: 0;
  padding: 1.25em 2em;
  text-align: center;
	background-color: #fff;
	color: #1151fb;
}
.credits div {
	font-size: 0.8em;
	font-weight: 400;
}

/* Responsive */
@media (max-width: 920px) {
  .contenidos .texto {
    width: 100%;
  }
  body {
  	font-size: 1.2em;
  	line-height: 1.6em;
  }
}
